{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Products</title>
    <link rel="stylesheet" href="{% static 'css/staff/staff_dashboard.css' %}">
</head>

<body>

<!-- SIDEBAR -->
<div class="sidebar">
    <h2>Staff</h2>
    <a href="{% url 'staff_dashboard' %}" >Dashboard</a>
    <a href="{% url 'products' %}" class="active">View Products</a>
    <a href="{% url 'record_sales' %}">Record Sales</a>
    <a href="{% url 'view_sales' %}">View Sales</a>
    <a href="{% url 'staff_profile' %}">Staff Profile</a>
    <a href="{% url 'signin' %}">Logout</a>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">

    <header>
        <h1>Product List</h1>
    </header>

    <!-- Search + Filter -->
    <div class="filters">
        <form method="GET">
            <input type="text" name="search" placeholder="Search product name..."
                   value="{{ search_query }}">

            <select name="category">
                <option value="">All Categories</option>
                {% for cat in categories %}
                <option value="{{ cat }}" {% if selected_category == cat %}selected{% endif %}>
                    {{ cat }}
                </option>
                {% endfor %}
            </select>

            <button type="submit" class="btn-primary">Apply</button>
        </form>
    </div>

    <!-- Product Table -->
    <div class="table-wrap">
        <table class="product-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </thead>

            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>

                    <td class="{% if product.quantity <= 20 %}low{% endif %}">
                        {{ product.quantity }}
                    </td>

                </tr>

                {% empty %}
                <tr>
                    <td colspan="4">No products available.</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>

</body>
</html>
