{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/staff/staff_dashboard.css' %}">
</head>

<body>

<!-- SIDEBAR -->
<div class="sidebar">
    <h2>Staff</h2>
    <a href="{% url 'staff_dashboard' %}" class="active">Dashboard</a>
    <a href="{% url 'products' %}">View Products</a>
    <a href="{% url 'record_sales' %}">Record Sales</a>
    <a href="{% url 'view_sales' %}">View Sales</a>
    <a href="{% url 'staff_profile' %}">Staff Profile</a>
    <a href="{% url 'signin' %}">Logout</a>
</div>

<!-- MAIN CONTENT -->
<div class="main-content">

    <header>
        <h1>Staff Dashboard</h1>
        <div class="welcome">Welcome, {{ request.user.username|capfirst }}</div>
    </header>

    <!-- RESPONSIBILITIES -->
    


    

</div>

</body>
</html>
