{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="{% static 'css/staff/staff_profile.css' %}">
</head>

<body>

<!-- SIDEBAR -->
<div class="sidebar">
    <h2>Staff</h2>
    <a href="{% url 'staff_dashboard' %}" >Dashboard</a>
    <a href="{% url 'products' %}">View Products</a>
    <a href="{% url 'record_sales' %}">Record Sales</a>
    <a href="{% url 'view_sales' %}">View Sales</a>
    <a href="{% url 'staff_profile' %}" class="active">Staff Profile</a>
    <a href="{% url 'signin' %}">Logout</a>
</div>

<!-- MAIN CONTENT -->
<div class="main">

    <h1 class="title">Update Your Details</h1>

    <div class="profile-container">

        <!-- LEFT: Profile card -->
        <div class="profile-card">
            <img src="{{ profile.profile_pic.url }}" class="big-pic">
            <h2>{{ staff.full_name }}</h2>
            <p>{{ request.user.email }}</p>
        </div>

        <!-- RIGHT: Form -->
        <div class="form-card">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <label>Full Name</label>
                <input type="text" name="full_name" value="{{ staff.full_name }}">

                <label>Phone</label>
                <input type="text" name="phone" value="{{ staff.phone }}">

                <label>Address</label>
                <textarea name="address">{{ staff.address }}</textarea>

                <label>Gender</label>
                <select name="gender">
                    <option value="Male" {% if staff.gender == "Male" %}selected{% endif %}>Male</option>
                    <option value="Female" {% if staff.gender == "Female" %}selected{% endif %}>Female</option>
                    <option value="Other" {% if staff.gender == "Other" %}selected{% endif %}>Other</option>
                </select>

                <label>Change Profile Picture</label>
                <input type="file" name="profile_pic">

                <button type="submit" class="btn-primary">Update Profile</button>
            </form>
        </div>

    </div>

</div>

</body>
</html>
