body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f5f6fa;
}

/* Sidebar */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #111827;
    color: white;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h2 {
    text-align: center;
    margin: 0;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #374151;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin: 12px 0;
    color: #d1d5db;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar .active {
    background: #374151;
    color: #fff;
}

/* Main content */
.main-content {
    margin-left: 260px;
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
}

/* Cards */
.section-card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.08);
}

.section-card h2 {
    margin-top: 0;
    color: #00adb5;
}

/* Inputs */
.product-form input,
.product-form select,
.product-form textarea {
    width: 100%;
    height: 40px;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

textarea {
    height: 90px;
    resize: none;
}

/* Grid Layout */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.full {
    grid-column: span 2;
}

/* Button */
.submit-btn {
    background: #00adb5;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #00929a;
}
