body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f4f7fb;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #111827;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h2 {
    text-align: center;
    margin: 0;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #374151;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin: 12px 0;
    color: #d1d5db;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar .active {
    background: #374151;
    color: #fff;
}
/* MAIN AREA */
.main {
    margin-left: 230px;
    padding: 25px;
    width: calc(100% - 230px);
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.welcome {
    font-weight: 600;
    color: #111827;
    font-size: 18px;
}

/* PROFILE IMAGE */
.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4b5563;
    cursor: pointer;
    transition: 0.3s;
}

.profile-img:hover {
    transform: scale(1.05);
}

/* PAGE TITLE */
.title {
    margin-top: 25px;
    font-size: 28px;
    font-weight: 600;
}

/* SEARCH AREA */
.search-area {
    margin: 25px 0;
}

.search-box {
    width: 350px;
    padding: 12px 15px;
    font-size: 15px;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    background: white;
}

.search-btn {
    padding: 12px 18px;
    font-size: 15px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

.search-btn:hover {
    background: #1d4ed8;
}

/* TABLE */
.table-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #111827;
    color: white;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #e5e7eb;
    font-size: 14px;
}

tr:hover {
    background: #f9fafb;
}

.no-data {
    text-align: center;
    padding: 20px;
    color: #6b7280;
}
