body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f4f7fb;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #111827;
    color: white;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h2 {
    text-align: center;
    margin: 0;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #374151;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin: 12px 0;
    color: #d1d5db;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar .active {
    background: #374151;
    color: #fff;
}

/* MAIN CONTENT */
.main {
    margin-left: 230px;
    padding: 25px;
    width: calc(100% - 230px);
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.welcome {
    font-size: 18px;
    font-weight: 600;
    color: #111827;
}

/* PROFILE IMAGE */
.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #4b5563;
    transition: 0.3s;
}

.profile-img:hover {
    transform: scale(1.05);
}

/* PAGE TITLE */
.title {
    margin-top: 25px;
    font-size: 28px;
    font-weight: 600;
    color: #111827;
}

/* DASHBOARD CARDS */
.cards {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background: white;
    padding: 22px;
    border-radius: 15px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
    text-align: center;
}

.card h3 {
    margin: 0;
    font-size: 18px;
    color: #2563eb;
}

.card p {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #111827;
}
